ion-input.custom {
  --background: rgba(255, 94, 0, 0);
  --color: #373737;
  --placeholder-color: rgb(255, 94, 0);
  --placeholder-opacity: 0.9;
  --border:solid, red;

  --padding-bottom: 5px;
  --padding-end: 5px;
  --padding-start: 5px;
  --padding-top: 5px;
}

ion-input.custom .helper-text,
ion-input.custom .counter {
  color: var(--ion-color-step-700, #373737);
}
.bg-custom{
  --background: #99496d00;
}
.separador{
  height: 200px;
}
.text-r{
  margin-left: 10px;
  text-decoration: underline;
  color: rgb(255, 94, 0);
}
ion-button {
  --color: rgb(255, 94, 0);
  --border-color: rgb(255, 94, 0);
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
}