<ion-content class="background ion-padding">

  <div class="separador"></div>

  <ion-grid fixed>

    <ion-row class="ion-justify-content-center">

      <ion-row class="ion-justify-content-center">
        <ion-col size="9.5">
          <div class="transparente ion-margin-bottom">
            <img src="/assets/img/icono_logo_ec.png" alt="">
          </div>
        </ion-col>
      </ion-row>

      <ion-col size="9">

        <ion-card color="dark">
          <ion-card-content class="ion-text-center">
            Bienvenido a vista MIPAGINA!!
          </ion-card-content>
        </ion-card>

        <ion-col>
          <ion-button routerLink="/login" fill="outline" shape="round" expand="block">
            Iniciar Sesion
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button routerLink="/register" fill="outline" shape="round" expand="block">
            Registrarme
          </ion-button>
        </ion-col>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>