<ion-header collapse="fade">
  <ion-toolbar class="light">
    <ion-title>Registros</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        
        <ion-card class="ion-text-center">
          
          <ion-card-header>
            <ion-card-title>¡Bienvenido! Usuario</ion-card-title>
          </ion-card-header>

          <ion-card-header>
            <ion-card-title>Registros Ficticios</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Aquí se mostraran los registros ficticios de la aplicación</p>
          </ion-card-content>
        </ion-card>

        <ion-col size="10" class="ion-align-self-center">

          <form (ngSubmit)="r_registros(form)" #form="ngForm">

            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-card>

            <ion-input
              [(ngModel)]="registros.cliente"
              aria-label="Custom input" placeholder="Custom input" class="custom"
              helperText=" "
              [counter]="true"
              [maxlength]="40"
              shape="round"
              type="text"
              placeholder="Ingresa nombre del cliente"
              fill="outline"
              name="cliente_r"
              id="cliente_r"
              errorText="Ingresar texto."
              text
            ></ion-input>
  
            <ion-card>
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-card>
            
            <ion-input
              [(ngModel)]="registros.electrodomestico"
              aria-label="Custom input" placeholder="Custom input" class="custom"
              helperText=" "
              [counter]="true"
              [maxlength]="40"
              shape="round"
              type="text"
              placeholder="Ingresa el electrodomestico"
              fill="outline"
              name="electrodomestico_r"
              id="electrodomestico_r"
              errorText="Ingresar texto."
              text
            ></ion-input>
  
            <ion-input
              [(ngModel)]="registros.estatus"
              aria-label="Custom input" placeholder="Custom input" class="custom"
              helperText=" "
              [counter]="true"
              [maxlength]="40"
              shape="round"
              type="text"
              placeholder="Ingresa el estado del electrodomestico"
              fill="outline"
              name="estatus_r"
              id="estatus_r"
              errorText="Ingresar texto."
              text
              ></ion-input>
  
            <ion-input
              [(ngModel)]="registros.descripcion"
              aria-label="Custom input" placeholder="Custom input" class="custom"
              helperText=" "
              [counter]="true"
              [maxlength]="100"
              shape="round"
              type="text"
              placeholder="Describe el problema"
              fill="outline"
              name="descripcion_r"
              id="descripcion_r"
              errorText="Minimo 6 caracteres"
              text
              ></ion-input>
  
            <ion-button type="submit" fill="outline" shape="round" expand="block" color="danger">
              Registrar
            </ion-button> <br>
  
            <ion-button routerLink="/index" fill="outline" shape="round" expand="block" color="danger">
              Cancelar
            </ion-button>
  
          </form>
  
        </ion-col>


      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>