.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}
/* ion-card {
  --background: #ffffff;
  --color: #000000;
}

ion-card-content{
  width: 95%;
  text-align: justify;
  margin: 2%;
}

ion-card-title {
  --color: #1F3049;
}

ion-card-subtitle {
  --color: #000205;
  --outline-color: #014167;
}

ion-list-header {
  --background: #ffffff;
  --color: #014167;

  --border-width: 0px 0px 5px 0px;
  --border-color: #014167;
  --border-style: inset;
}
 */