<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.displayName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellidos</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.apellidos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
