<ion-header collapse="fade">
  <ion-toolbar class="background">
    <ion-title>Tuxpan | Festividades</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <img src="/assets/img/f/tf_1.png" />
            <ion-list-header>
              <ion-card-title>Semana Santa</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Celebración religiosa que se combina con el disfrute de la playa, el sol y la arena. Durante esta semana, se realizan procesiones, misas y actos de fe, así como actividades recreativas y culturales.          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/f/tf_2.png" />
            <ion-list-header>
              <ion-card-title>El Carnaval</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Fiesta popular que se lleva a cabo los primeros días de mayo, después de la Semana Santa. Se caracteriza por la alegría, el color y la música. Se corona a una reina, se quema el mal humor, se hacen paseos y conciertos, y se disfruta del ambiente carnavalero.          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/f/tf_3.png" />
            <ion-list-header>
              <ion-card-title>Día del Pescador</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Tradición que se celebra el 29 de junio, día de San Pedro y San Pablo, patronos de los pescadores. Se realiza una procesión marítima con las embarcaciones adornadas, se bendice a los pescadores y sus familias, y se comparte una comida típica a base de pescado y mariscos.          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="background">
      <ion-back-button defaultHref="/tuxpan"></ion-back-button>
    </ion-fab-button>
  </ion-fab>

</ion-content>
