<ion-header collapse="fade">
  <ion-toolbar class="background">
    <ion-title>Tuxpan | Zonas Turisticas</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <img src="/assets/img/z/tz_1.png" />
            <ion-list-header>
              <ion-card-title>Museo de la Amistad México-Cuba</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Podrás conocer la historia de la Revolución Cubana y el papel que jugó Tuxpan como punto de partida del yate Granma. El museo exhibe piezas, documentos y fotografías relacionados con este acontecimiento histórico. El museo se encuentra en Santiago de la Peña y el acceso es gratuito.          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/z/tz_2.png" />
            <ion-list-header>
              <ion-card-title>Laguna de Tampamachoco</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Ecosistema de gran importancia ecológica y económica, que alberga una gran variedad de flora y fauna, especialmente aves migratorias. La laguna se puede recorrer en lancha, kayak o bote, y se pueden observar los manglares, los islotes y las comunidades pesqueras. La laguna se localiza a 20 minutos del centro de la ciudad.          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/z/tz_3.png" />
            <ion-list-header>
              <ion-card-title>Los Arrecifes</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Zona de gran belleza natural que se encuentra a 13 kilómetros de la costa de Tuxpan. Los arrecifes son el hábitat de numerosas especies marinas, como corales, peces, moluscos y crustáceos. Los arrecifes se pueden explorar practicando snorkel o buceo, y se pueden apreciar los colores y formas de este mundo submarino. Para llegar a los arrecifes se necesita contratar un servicio náutico certificado.          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="background">
      <ion-back-button defaultHref="/tuxpan"></ion-back-button>
    </ion-fab-button>
  </ion-fab>

</ion-content>
