<ion-header collapse="fade">
  <ion-toolbar class="color_azul">
    <ion-title>Inventario</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>