/* ion-card, ion-list, ion-item, ion-col,img, ion-item-sliding {
  --background: #ffffff;
  --color: #3d3d3d;
}

ion-card-title {
  --color: #b10061;
}

ion-card-subtitle {
  --color: #000000;
  --outline-color: #000000;
}

*/ /*#content {
  font-size:130%;
} */
