<ion-header collapse="fade">
  <ion-toolbar class="light">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <ion-card class="ion-text-center">

          <ion-list [inset]="true">

            <ion-item-sliding>
              <ion-item [button]="true">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  <h2>Laptop HP Pavilion</h2>
                  <p>Ingreso: 22/07/2024</p>
                  <p>Cliente: María López</p>
                </ion-label>
              </ion-item>
              <ion-item-options slot="end">
                <ion-item-option color="success">
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                </ion-item-option>
                <ion-item-option color="warning">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" expandable="true">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
        
            <ion-item-sliding>
              <ion-item [button]="true">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  <h2>Smart TV Samsung 55"</h2>
                  <p>Ingreso: 20/07/2024</p>
                  <p>Cliente: Pedro Martínez</p>
                </ion-label>
              </ion-item>
              <ion-item-options slot="end">
                <ion-item-option color="success">
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                </ion-item-option>
                <ion-item-option color="warning">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" expandable="true">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
              <ion-item [button]="true">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  <h2>Impresora Epson EcoTank</h2>
                  <p>Ingreso: 18/07/2024</p>
                  <p>Cliente: Luis García</p>
                </ion-label>
              </ion-item>
              <ion-item-options slot="end">
                <ion-item-option color="success">
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                </ion-item-option>
                <ion-item-option color="warning">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" expandable="true">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
              <ion-item [button]="true">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  <h2>Consola PlayStation 5</h2>
                  <p>Ingreso: 15/07/2024</p>
                  <p>Cliente: Ana Rodríguez</p>
                </ion-label>
              </ion-item>
              <ion-item-options slot="end">
                <ion-item-option color="success">
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                </ion-item-option>
                <ion-item-option color="warning">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" expandable="true">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding>
              <ion-item [button]="true">
                <ion-avatar aria-hidden="true" slot="start">
                  <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <ion-label>
                  <h2>Aire Acondicionado LG 12000 BTU</h2>
                  <p>Ingreso: 10/07/2024</p>
                  <p>Cliente: Manuel Gutiérrez</p>
                </ion-label>
              </ion-item>
              <ion-item-options slot="end">
                <ion-item-option color="success">
                  <ion-icon slot="icon-only" name="call"></ion-icon>
                </ion-item-option>
                <ion-item-option color="warning">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
                <ion-item-option color="danger" expandable="true">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

          </ion-list>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>