<ion-header collapse="fade">
  <ion-toolbar class="background">
    <ion-title>Tecolutla | Festividades</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon size="large" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background ion-padding">
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <img src="/assets/img/f/ttf_1.png" />
            <ion-list-header>
              <ion-card-title>Festival del Coco</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Se celebra en el mes de febrero, generalmente del 3 al 5, coincidiendo con el carnaval. En este festival, los pobladores de Tecolutla elaboran el dulce de coco más grande del mundo, que llega a medir más de 20 metros de largo y pesar más de 300 kilos. El dulce se reparte entre los asistentes y se busca integrarlo al World Records Guinness. Además, se realizan eventos artísticos, culturales y gastronómicos.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/f/ttf_2.png"/>
            <ion-list-header>
              <ion-card-title>Festival de San Bartolo</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Este festival se realiza del 23 al 26 de agosto, en honor al patrono de Tecolutla, San Bartolomé. Durante estos días, se realizan procesiones, misas, paseos de comparsas y carros alegóricos, juegos pirotécnicos y bailes populares. También se corona a la reina del festival y se presentan grupos musicales de renombre.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/f/ttf_3.png"/>
            <ion-list-header>
              <ion-card-title>Fiesta de Nuestra Señora de los Ángeles</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Esta fiesta se lleva a cabo el 2 de agosto, en la población de Hueytepec, que pertenece al municipio de Tecolutla. Se venera a la virgen con ofrendas, misas y peregrinaciones. También se realizan danzas típicas de la cultura totonaca, como los voladores, los quetzales, los san migueles, los cristianos, los guaguas, los moros y los negritos.
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <img src="/assets/img/f/ttf_4.png"/>
            <ion-list-header>
              <ion-card-title>Pesca Deportiva del Robalo</ion-card-title>
            </ion-list-header>
          </ion-card-header>
          <ion-card-content>
            Esta actividad se efectúa a mediados del mes de mayo, en las riveras del río Tecolutla. Se trata de una competencia de pesca de la especie de mayor peso, el robalo, que puede alcanzar hasta 20 kilos. Los participantes pueden inscribirse en diferentes categorías y ganar premios en efectivo o en especie. También se ofrece un servicio de tours de pesca deportiva para los aficionados.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="background">
      <ion-back-button defaultHref="/tecolutla"></ion-back-button>
    </ion-fab-button>
  </ion-fab>

</ion-content>
